<div class="content-container">
  <form>
    <div class="item-header">
      <div>Add an item</div>
    </div>
    <label for="category_id">Category</label>
    <select name="category_id" [(ngModel)]="newItemFormData.category_id">
      <option selected="selected" class="option">Select a Category</option>
      <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
    </select>
    <label for="description">Description</label>
    <div class="input-wrapper">
      <input type="text" name="description" placeholder="Description" [(ngModel)]="newItemFormData.description">
    </div>
    <label for="price">Price</label>
    <div class="input-wrapper">
      <input type="text" name="price" placeholder="Price" [(ngModel)]="newItemFormData.price">
    </div>
    <label for="condition_id">Condition</label>
    <select name="condition_id" [(ngModel)]="newItemFormData.condition_id">
      <option *ngFor="let condition of conditions" value="{{condition.rank}}">{{condition.name}}</option>
    </select>
    <label for="manufacturer_make">Manufacturer/Make</label>
    <div class="input-wrapper">
      <input type="text" name="manufacturer_make" placeholder="Manufacturer/Make" [(ngModel)]="newItemFormData.manufacturer_make">
    </div>
    <label for="model_name_number">Model Name/Number</label>
    <div class="input-wrapper">
      <input type="text" name="model_name_number" placeholder="Model" [(ngModel)]="newItemFormData.model_name_number">
    </div>
    <label for="dimensions">Dimensions</label>
    <div class="input-wrapper">
      <input type="text" name="dimensions" placeholder="Dimensions" [(ngModel)]="newItemFormData.dimensions">
    </div>
    <label for="notes_details">Notes/Details</label>
    <div class="input-wrapper">
      <input type="text" name="notes_details" placeholder="Details" [(ngModel)]="newItemFormData.notes_details">
    </div>
    <div class="image-upload">
      <label for="photo_link">Upload Images</label>
      <div class="input-wrapper">
        <input type="file" name="photo_link" (change)="updatePhotoList($event)">
        <div class="photo-list-container"></div>
      </div>
    </div>
    <button class="btn" (click)="addItem()">Submit</button>
  </form>
</div>
<div class="image-container">
</div>