<div class="content-container">
  <div class="item-header">
    <h1>
      Post a new item!
    </h1>
  </div>
  <form class="newItemForm">
    <div class="flex-col">
      <div class="column">
        <div class="field">
          <label for="category_id">Category
          </label>
          <select name="category_id" [(ngModel)]="newItemFormData.category_id">
            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>
        <div class="field">
          <label for="description">Description
          </label>
          <input type="text" name="description" placeholder="description" [(ngModel)]="newItemFormData.description">
        </div>
        <div class="field">
          <label for="price">Price
          </label>
          <input type="text" name="price" placeholder="price" [(ngModel)]="newItemFormData.price">
        </div>
        <div class="field">
          <label for="condition_id">Condition
          </label>
          <select name="condition_id" [(ngModel)]="newItemFormData.condition_id">
              <option *ngFor="let condition of conditions" value="{{condition.rank}}">{{condition.name}}</option>
            </select>
        </div>
        <div class="field">
          <label for="manufacturer_make">Manufacturer/Make
          </label>
          <input type="text" name="manufacturer_make" placeholder="manufacturer_make" [(ngModel)]="newItemFormData.manufacturer_make">
        </div>
        <div class="field">
          <label for="model_name_number">Model Name/Number
          </label>
          <input type="text" name="model_name_number" placeholder="model_name_number" [(ngModel)]="newItemFormData.model_name_number">
        </div>
        <div class="field">
          <label for="dimensions">Dimensions
          </label>
          <input type="text" name="dimensions" placeholder="dimensions" [(ngModel)]="newItemFormData.dimensions">
        </div>
        <div class="field">
          <label for="notes_details">Notes/Details
          </label>
          <input type="text" name="notes_details" placeholder="notes_details" [(ngModel)]="newItemFormData.notes_details">
        </div>
      </div>
      <div class="column">ADD IMAGE HERE
        <div class="field">
          <label for="photo_link">Link to image
          </label>
          <input type="text" name="photo_link" placeholder="photo_link" [(ngModel)]="photo_link">
        </div>
      </div>
    </div>
  </form>
  <div class="image-container">
  </div>

  <div>

    <button class="btn" (click)="addItem()">Submit **Soon</button>