.header-container {
  float: top;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
  padding: 10px;
  justify-content: center;
  text-align: center;
  a {
    border-radius: 5px;
    text-decoration: none;
    color: white;
  }
  .shimmer {
    display: none;
  }
  #logo {
    font-size: 28px;
  }
  .options-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    background: transparent;
    padding: 5px;
    width: 100%;
    a {
      border: 0.5px solid white;
      padding: 2px;
      width: 100px;
      font-size: 14px;
    }
    p {
      color: white;
      font-size: 16px;
      margin: 0;
    }
    button {
      color: white;
      font-size: 14px;
      background: transparent;
      border: 0.5px solid white;
      border-radius: 5px;
      padding: 2px;
      width: 100px;
    }
  }
}

@media (min-width: 1023px) {
  .header-container {
    position: fixed;
    top: 0;
    font-size: 20px;
    //shimmer effect https://codepen.io/redouglas/pen/gobsm
    .shimmer {
      display: block;
      font-weight: 400;
      font-size: 36px;
      margin: 0 auto;
      padding: 0 140px 0 0;
      text-align: center;
      color: rgba(255,255,255,0.1);
      background: -webkit-gradient(linear, left top, right top, from(#21d4fd), to(#b721ff), color-stop(0.5, white));
      background: -moz-gradient(linear, left top, right top, from(#21d4fd), to(#b721ff), color-stop(0.5, white));
      background: gradient(linear, left top, right top, from(#21d4fd), to(#b721ff), color-stop(0.5, white));
      -webkit-background-size: 125px 100%;
      -moz-background-size: 125px 100%;
      background-size: 165px 400px;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-animation-name: shimmer;
      -moz-animation-name: shimmer;
      animation-name: shimmer;
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      background-position: 0 0;
      background-color: white;
    }
    @-moz-keyframes shimmer {
      0% {
        background-position: top left;
      }
      100% {
        background-position: top right;
      }
    }
    @-webkit-keyframes shimmer {
      0% {
        background-position: top left;
      }
      100% {
        background-position: top right;
      }
    }
    @-o-keyframes shimmer {
      0% {
        background-position: top left;
      }
      100% {
        background-position: top right;
      }
    }
    @keyframes shimmer {
      0% {
        background-position: top left;
      }
      100% {
        background-position: top right;
      }
    }
    //shimmer end
    #logo {
      display: none;
    }
    .options-container {
      margin-top: 5px;
      p {
        font-size: 20px;
        &:hover {
          color: rgba(255,255,255,0.1);
          background: -webkit-gradient(linear, left top, right top, from(#21d4fd), to(#b721ff), color-stop(0.5, white));
          -webkit-background-size: 125px 100%;
          -moz-background-size: 125px 100%;
          background-size: 50px auto;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-animation-name: shimmer;
          -moz-animation-name: shimmer;
          animation-name: shimmer;
          -webkit-animation-duration: 2s;
          -moz-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          background-position: 0 0;
          background-color: white;
          @-moz-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @-webkit-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @-o-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
        }
      }
      button {
        font-size: 16px;
        padding: 5px;
      }
    }
  }
}
