<div class="error" *ngIf="!_isLoggedIn">
  <div>Please <a routerLink="/login">log in</a> to view your items</div>
</div>
<div class="content-container" *ngIf="_isLoggedIn">
  <div class="item-statuses" (click)="togglePending()">Pending Items
    <div class="item-list" *ngIf="showPending">
      <div class="card" *ngFor="let item of pendingItems">
        <div class="image-container">
          <img class="item-image" src="{{item.photo}}" routerLink="/items/{{item.id}}">
        </div>
        <a routerLink="/items/{{item.id}}">{{item.description}}</a>
        <div>Created: {{item.created_at}}</div>
      </div>
    </div>
  </div>
  <div class="item-statuses" (click)="togglePublished()">Published Items
    <div class="item-list" *ngIf="showPublished">
      <div class="card" *ngFor="let item of publishedItems">
        <div class="image-container">
          <img class="item-image" src="{{item.photo}}" routerLink="/items/{{item.id}}">
        </div>
        <a routerLink="/items/{{item.id}}">{{item.description}}</a>
        <div>Created: {{item.created_at}}</div>
        <div>Views: {{item.views}}</div>
      </div>
    </div>
  </div>
  <div class="item-statuses" (click)="toggleSold()">Sold Items
    <div class="item-list" *ngIf="showSold">
      <div class="card" *ngFor="let item of soldItems">
        <div class="image-container">
          <img class="item-image" src="{{item.photo}}" routerLink="/items/{{item.id}}">
        </div>
        <div routerLink="/items/{{item.id}}">{{item.description}}</div>
        <div>Sold on: {{item.updated_at}}</div>
      </div>
    </div>
  </div>
  <div class="item-statuses" (click)="toggleRemoved()"> Removed Items
    <div class="item-list" *ngIf="showRemoved">
      <div class="card" *ngFor="let item of removedItems">
        <div class="image-container">
          <img src="{{item.photo}}" alt="" class="item-image">
        </div>
        <div>{{item.description}}</div>
        <div>Removed on: {{item.updated_at}}</div>
      </div>
    </div>
  </div>
</div>