$mainFont: 'Poppins', sans-serif;

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 10px;
    background: white;
    padding: 50px 15px;
    width: 350px;
    height: 700px;
    border-radius: 5px;
    .message {
      text-align: center;
    }
    .settings-header {
      text-align: center;
      margin-top: 15px;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    label {
      font-weight: 400;
      font-size: 14px;
      color: #999ba5;
    }
    .input-wrapper {
      border-bottom: 2px solid #adadad;
      input {
        width: 100%;
        line-height: 1.2em;
        font-size: 15px;
        padding: 0 5px;
        height: 45px;
      }
    }
    button {
      font-family: $mainFont;
      font-weight: 500;
      width: 100%;
      font-size: 15px;
      border-radius: 35px;
      padding: 15px;
      color: white;
      background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
      margin-top: 15px;
    }
    .cancel-button {
      background: whitesmoke;
      color: black;
    }
  }
  .errors {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 14px;
  }
}

@media (min-width: 1023px) {
  .content-container {
    padding-left: 140px;
    padding-top: 130px;
  }
}