<div class="content-container">
  <div class="settings-header">Settings</div>
  <div class="errors">
    <div>{{getErrors()}}</div>
  </div>
  <form>
    <label for="password">Old Password:</label>
    <input type="password" name="password" [(ngModel)]="this.passwordFormData.oldPass">
    <label for="new-password">New Password:</label>
    <input type="password" name="new-pass" [(ngModel)]="this.passwordFormData.newPass">
    <label for="new-password">Verify New Password:</label>
    <input type="password" name="new-pass" [(ngModel)]="this.passwordFormData.verifyPass">
    <button (click)="submitPasswordChange()">Submit</button>
  </form>
</div>