$mainFont: 'Poppins', sans-serif;

.content-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  .item-header {
    text-align: center;
    font-size: 16px;
    h1 {
      margin: 0;
      width: 100%;
    }
  }
  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 195px;
    width: 350px;
    margin-bottom: 5px;
    .item-image {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .image-scroller {
    text-align: center;
  }
  .item-content {
    padding-left: 5px;
    div {
      margin: 2px;
    }
  }
  .item-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 50%;
      padding: 10px;
      color: white;
      font-size: 15px;
      font-weight: 500;
      border-radius: 25px;
      background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
      margin-top: 15px;
      font-family: $mainFont;
    }
  }
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: lightgray;
  width: 100%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    background: white;
    padding: 50px 15px;
    width: 350px;
    box-shadow: 1px 1px 1px 1px gray;
    font-family: $mainFont;
    border-radius: 5px;
    .edit-header {
      font-size: 36px;
      font-weight: 700;
      margin-top: 15px;
      text-align: center;
      margin-bottom: 30px;
    }
    .image-container {
      width: 100%;
      height: 195px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .item-image {
        max-height: 100%;
        max-width: 100%;
      }
    }
    select {
      width: 50%;
      background: white;
      border: 1px solid black;
      padding: 5px;
      font-family: $mainFont;
      font-size: 12px;
    }
    label {
      font-weight: 400;
      font-size: 14px;
      color: #999ba5;
    }
    span {
      font-size: 12px;
      color: red;
    }
    .input-wrapper {
      border-bottom: 2px solid #adadad;
      input {
        width: 100%;
        padding: 0 5px;
        font-size: 15px;
        line-height: 1.2em;
        height: 45px;
      }
    }
    textarea {
      height: 200px;
      width: 100%;
      padding: 5px;
      font-size: 14px;
      border-radius: 5px;
      resize: none;
      overflow: scroll;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
        font-family: $mainFont;
        font-weight: 500;
        width: 100%;
        font-size: 15px;
        border-radius: 35px;
        padding: 15px;
        color: white;
        margin-top: 15px;
        &:disabled {
          background: -webkit-linear-gradient(right, #e5acff, #b3f1ff);
        }
      }
        .cancel-button {
          background: whitesmoke;
          color: black;
      }
    }
  }
}
