<div class="content-container" *ngIf="!this.editing">
  <div class="item-header">
    <h1>{{editFormData.description}}</h1>
  </div>
  <div class="image-container">
    <div>Photo: {{editFormData.photo_id}}</div>
  </div>
  <div class="item-content">
    <div>Views: {{editFormData.views}}</div>
    <div>Status: {{editFormData.itemStatus.name}}</div>
    <div>Condition: {{editFormData.condition.name}}</div>
    <div>Posted at: {{editFormData.created_at}}</div>
    <div>Last edited: {{editFormData.updated_at}}</div>
    <div>Manufacturer/Make: {{editFormData.manufacturer_make}}</div>
    <div>Model: {{editFormData.model_name_number}}</div>
    <div>Details: {{editFormData.notes_details}}</div>
  </div>
  <button class="button-enabled" (click)="toggleEdit()" *ngIf="correctUser">Edit</button>
</div>

<div class="edit-container" *ngIf="this.editing">
  <div class="edit-header">Edit your item</div>
  <form>
    <label for="description">Description:</label>
    <input type="text" name="description" [(ngModel)]="editFormData.description" (change)="this.valid.itemValidation()">

    <label for="photo">Photo:</label>
    <input type="text" name="photo" [(ngModel)]="editFormData.photo_id">

    <label for="item-status">Item Status</label>
    <select name="status" [(ngModel)]="editFormData.status_id" (click)="this.valid.itemValidation()">
      <option value="0">Change status</option>
      <option value="1">Pending</option>
      <option value="2">Published</option>
      <option value="3">Sold</option>
      <option value="4">Delete</option>
    </select>

    <label for="condition">Condition:</label>
    <select name="condition" [(ngModel)]="editFormData.condition_id" (click)="this.valid.itemValidation()">
      <option value="0">Change condition</option>
      <option value="1">New</option>
      <option value="2">Good</option>
      <option value="3">Fair</option>
      <option value="4">Worn</option>
      <option value="5">Used</option>
    </select>

    <label for="dimensions">Dimensions:</label>
    <input type="text" name="dimensions" [(ngModel)]="editFormData.dimensions">

    <label for="manufacturer_make">Manucturer/make:</label>
    <input type="text" name="manufacturer_make" [(ngModel)]="editFormData.manufacturer_make">

    <label for="model_name_number">Model:</label>
    <input type="text" name="model_name_number" [(ngModel)]="editFormData.model_name_number">

    <label for="notes_details">Details:</label>
    <textarea type="text" name="notes_details" [(ngModel)]="editFormData.notes_details"></textarea>
    <div class="buttons">
      <button class="button-enabled" *ngIf="this.valid.getItemComplete()" (click)="submitEdit()">Submit</button>
      <button class="button-disabled" *ngIf="!this.valid.getItemComplete()" >Submit</button>
      <button class="button-enabled" (click)="toggleEdit()">Cancel</button>
    </div>
  </form>
</div>