<div class="content-container">
  <div class="item-header">
    <h1>{{item.description}}</h1>
  </div>
  <div class="image-container">
    <div>Photo: {{item.photo_id}}</div>
  </div>
  <div class="item-content">
    <div>Views: {{item.views}}</div>
    <div>Status: {{item.status_id}}</div>
    <div>Condition: {{item.condition_id}}</div>
    <div>Posted at: {{item.created_at}}</div>
    <div>Last edited: {{item.updated_at}}</div>
    <div>Manufacturer/Make: {{item.manufacturer_make}}</div>
    <div>Model: {{item.model_name_number}}</div>
    <div>Details: {{item.notes_details}}</div>
  </div>
</div>