<div class="content-container">
  <div class="category-label" *ngFor="let category of categories">
    <div (click)="loadItems(category.id)">Top Items in {{category.name}}</div>
  </div>
  <div class="item-list-container" *ngIf="showItems">
    <div class="card-container" *ngFor="let item of categoryItems">
      <div class="card">
        <a routerLink="item/{{item.id}}">Photo: {{item.photo_id}}</a>
        <a routerLink="item/{{item.id}}">{{item.description}}</a>
        <div class="card-desc">
          <div>{{item.created_at}}</div>
          <div>Views: {{item.views}}</div>
        </div>
      </div>
    </div>
  </div>
</div>