.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  .category-label {
    border: 1px solid black;
    width: 90%;
    text-align: center;
    margin: 5px;
    padding: 5px;
  }
}