$subFont: 'Roboto Condensed', sans-serif;

.sidebar-container {
  float: top;
  width: 100%;
  top: 100px;
  background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
  color: white;
  font-size: 14px;
  padding: 3px;
  .category-container {
    display: flex;
    justify-content: space-evenly;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .user-options {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@media (min-width: 1023px) {
  .sidebar-container {
    text-decoration: underline;
    position: fixed;
    top: 97px;
    font-size: 20px;
    margin-top: 15px;
    .category-container {
      a:hover {
        color: rgba(255,255,255,0.1);
        background: -webkit-gradient(linear, left top, right top, from(#21d4fd), to(#b721ff), color-stop(0.5, white));
        -webkit-background-size: 125px 100%;
        -moz-background-size: 125px 100%;
        background-size: 50px auto;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-animation-name: shimmer;
        -moz-animation-name: shimmer;
        animation-name: shimmer;
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        background-position: 0 0;
        background-color: white;
        @-moz-keyframes shimmer {
          0% {
            background-position: top left;
          }
          100% {
            background-position: top right;
          }
        }
        @-webkit-keyframes shimmer {
          0% {
            background-position: top left;
          }
          100% {
            background-position: top right;
          }
        }
        @-o-keyframes shimmer {
          0% {
            background-position: top left;
          }
          100% {
            background-position: top right;
          }
        }
        @keyframes shimmer {
          0% {
            background-position: top left;
          }
          100% {
            background-position: top right;
          }
        }
      }
    }
  }
  .user-options {
    position: fixed;
    top: 142px;
    left: 0;
    height: 100%;
    width: 12%;
    background: -webkit-linear-gradient(right, #36c0fd, #21d4fd);
    font-size: 20px;
    .option-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      .options {
        text-decoration: underline;
        margin: 20px auto;
        &:hover {
          color: rgba(255,255,255,0.1);
          background: -webkit-gradient(linear, left top, right top, from(#21d4fd), to(#b721ff), color-stop(0.5, white));
          -webkit-background-size: 125px 100%;
          -moz-background-size: 125px 100%;
          background-size: 40px auto;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-animation-name: shimmer;
          -moz-animation-name: shimmer;
          animation-name: shimmer;
          -webkit-animation-duration: 2s;
          -moz-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          -moz-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          background-position: 0 0;
          background-color: white;
          @-moz-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @-webkit-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @-o-keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
          @keyframes shimmer {
            0% {
              background-position: top left;
            }
            100% {
              background-position: top right;
            }
          }
        }
      }
    }
  }
}