<div class="sidebar-container">
  <!-- no-auth user view -->
  <div class="category-container">
    <div *ngFor="let category of categories">
      <a routerLink="category/{{category.id}}/items">
        {{category.name}}
      </a>
    </div>
    <a routerLink="items" class="link">All</a>
  </div>
  <!-- auth user view -->
  <div class="user-options" *ngIf="isLoggedIn()">

    <div class="option-container">
      <div class="options" routerLink="user/items">Items</div>
      <div class="options" routerLink="user/messages">Messages</div>
      <div class="options" routerLink="user/settings">Settings</div>
      <div class="options" routerLink="additem">Add</div>
    </div>

   

  </div>
</div>