$subFont: 'Quattrocento', Serif;

.sidebar-container {
  float: top;
  width: 100%;
  top: 100px;
  background-color: #8880ff;
  color: white;
  font-size: 14px;
  padding: 3px;
  border-bottom: 3px solid lighten($color: (#8880ff), $amount: 50);
  .category-container {
    display: flex;
    justify-content: space-evenly;
  }
  a {
    color: white;
    text-decoration: none;
  }
}