<div class="sidebar-container">
  <!-- no-auth user view -->
  <div class="category-container">
    <div *ngFor="let category of categories">
      <div (click)="navigate(category.id)">
        {{category.name}}
      </div>
    </div>
    <a routerLink="items" class="link">All</a>
  </div>
  <!-- auth user view -->
  <div class="user-options" *ngIf="this._isLoggedIn">
    <div class="options" routerLink="user/items">Items</div>
    <div class="options">Messages</div>
    <div class="options" routerLink="user/settings">Settings</div>
    <div class="options" routerLink="additem">+ New</div>
  </div>
</div>