<div class="sidebar-container">
  <!-- these will be a tags later -->
  <div routerLink="" id="home-link">Home</div>
  <!-- no-auth user view -->
  <div class="category-container">
    <ul>
      <li>Category A</li>
      <li>Category B</li>
      <li>Category C</li>
      <li>Category D</li>
    </ul>
  </div>
  <a routerLink="">All Items</a>
  <br>
  <!-- auth user new/edit item view -->
  <div>messages</div>
  <div>settings</div>
  <a routerLink="additem">+ New</a>
  <br>
  <!-- admin home view -->
  <div>users</div>
  <div>items</div>
  <div>categories</div>
  <div>settings</div>
  <a routerLink="additem">+ New</a>
</div>