$subFont: 'Roboto Condensed', sans-serif;

.sidebar-container {
  float: top;
  width: 100%;
  top: 100px;
  background: -webkit-linear-gradient(right, #b721ff, #21d4fd);
  color: white;
  font-size: 14px;
  padding: 3px;
  .category-container {
    display: flex;
    justify-content: space-evenly;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .user-options {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

@media (min-width: 1023px) {
  .sidebar-container {
    text-decoration: underline;
    position: fixed;
    top: 97px;
  }
  .user-options {
    position: fixed;
    top: 124px;
    left: 0;
    height: 100%;
    width: 12%;
    background: -webkit-linear-gradient(right, #36c0fd, #21d4fd);
    .option-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      .options {
        text-decoration: underline;
        margin: 20px auto;
      }
    }
  }
}